body{
  background: rgb(8,7,38);
  background: linear-gradient(180deg, rgba(8,7,38,1) 0%, rgba(23,25,54,1) 50%, rgba(56,32,32,1) 100%);  
  color: #0099FF;
  line-height: 30px;
  font-family: Arial, Courier, serif;
  margin: 10% 20%
}
h1{
  text-align: left;
  font-size: 25px;
  border-top: 0.5px solid #dddddd;
  border-bottom: 0.5px solid #dddddd;
  color: #dddddd;
}
h4{
  line-height: 1
}
h5{
  line-height: 0
}
h6{
  line-height: 0
}
p{
  text-indent: 25px;
  font-size:10px;
}
ul li{
  list-style-type: square;
  font-size: 10px;
  text-align: left;
}
.exp-header{
  text-align: center;
  border-left: 2px solid #99FF00;
  border-right: 2px solid #99FF00;
  background-color: rgba(145,61,136, 0.5);
  color: #CC0033;
}
.facts-header{
  text-align: center;
  line-height: 25px;
  color: #99FF00
}
